---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '#astro/components/FormattedDate.astro';
// import Share from '#astro/components/Share.astro';
import Main from '#astro/layouts/main/index.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title,
    id,
    description,
    pubDate,
    updatedDate,
    headings,
    minutesRead,
    tags,
    words,
} = Astro.props;
import './index.css';

const { href } =Astro.url;
const validHeadings = headings && headings.filter((heading) => heading.depth === 2);
import { SITE_AUTHOR } from '#astro/consts'
---

<Main
    title={title}
    description={description}
>
    <a slot="before-all" class="toArticle" href="#article">To the article</a>
    <article id="article">
        <header>
                <h1 id="title">{title}</h1>
                <div class="date">
                    {minutesRead} — <FormattedDate date={pubDate} />
                    {
                        updatedDate && (
                            <div>
                                Last updated — <FormattedDate date={updatedDate} />
                            </div>
                        )
                    }
                </div>
            </header>
            
            {validHeadings && (validHeadings.length >= 1) &&
                <aside>
                    <ul>
                        <li>
                            <a title="Navigate to the start of the article" href="#title">Start</a>
                        </li>
                        {validHeadings.map((heading) => (
                            <li>
                                <a href={`#${heading.slug}`}>{heading.text}</a>
                            </li>
                        ))}
                        <li>
                            <a id="metadataLink" title="Navigate to the end of the article" href="#metadata">Metadata</a>
                        </li>
                    </ul>
                </aside>
            }

            <p class="description">
                {description}
            </p>
            
            <slot />

            <!-- <Share title={title} description={description} url={href} /> -->

            <details class="details">
                <summary>Metadata</summary>
                <div id="metadata">

                    <div class="metaSection">
                        <span class="title">Published</span>
                        <FormattedDate date={pubDate} />
                    </div>
                    {
                        updatedDate &&
                        <div class="metaSection">
                            <span class="title">Updated</span>
                            <FormattedDate date={updatedDate} />
                        </div>
                    }
                    
                    <div class="metaSection">
                        <span class="title">Length</span>
                        <span>{minutesRead} ({words} words)</span>
                    </div> 
                    
                   <div class="metaSection">
                       <span class="title">License</span>
                       <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
                   </div>

                    {
                        tags &&
                        <div class="metaSection">
                            <span class="title">Tags</span>
                            
                            <div class="tags">
                                {tags.map((tag) => (
                                    <a href={`/tags/${tag}`}>#{tag}</a>
                                ))}
                            </div>
                        </div>
                    }
    
                    <div class="centered">
                        <a class="correctLink" target="_blank" href={`https://github.com/dobladov/astro-blog/edit/main/src/content/blog/${id}`}>Did I make a mistake? Please consider sending a pull request</a>
                    </div>

                    <script type="application/ld+json" set:html={
                        JSON.stringify({
                            "@context": "https://schema.org", 
                            "@type": "BlogPosting",
                            "headline": title,
                            // "image": "http://example.com/image.jpg",
                            "editor": SITE_AUTHOR, 
                            "genre": tags?.join(' '), 
                            "keywords": tags?.join(' '), 
                            "wordcount": words,
                            "url": href,
                            "datePublished": pubDate,
                            "dateCreated": pubDate,
                            ...(updatedDate && { dateModified: updatedDate }),
                            "description": description,
                            "author": {
                                "@type": "Person",
                                "name": SITE_AUTHOR
                            }
                        })
                    }></script>
                </div>
            </details>
        <div class="progress" />
    </article>
</Main>

<script>
    const headings = document.querySelectorAll('#title, h2, #metadata');
    
    const observer = new IntersectionObserver(entries => {
        const links = [...document.querySelectorAll('aside a')]

        entries.forEach(entry => {
            const link = links.find(link => link.href.endsWith(`#${entry.target.id}`));
            if (entry.isIntersecting) {
                link?.classList.add('active');
            } else {
                link?.classList.remove('active');
            }
        });
    }, {
        threshold: 0.9
    });

    headings.forEach(heading => {
        observer.observe(heading);
    });
</script>
