---
import { getCollection } from 'astro:content';
import Main from '#astro/layouts/main/index.astro';
import BlogList from '#astro/components/BlogList.astro';
import PageTitle from '#astro/components/PageTitle.astro';
import {getPostsPerYear} from '#astro/components/utils';

export async function getStaticPaths() {
    const blogs = await getCollection('blog');
    
    const tags = [...new Set(blogs.map((post) => post.data.tags).flat().filter(Boolean))];

    return tags.map((tag) => {
        const postWithTag = blogs.filter((post) => {
            return post.data.draft !== true && post.data.tags?.includes(tag);
        });

        return {
            params: {tag},
            props: {
                posts: getPostsPerYear(postWithTag),
                total: postWithTag.length
            }
        }
    })
}

const { posts, total } = Astro.props;
const { tag } = Astro.params;
---
<Main
    title={`Tag "${tag}"`}
    description=`List of articles with tag ${tag}`
>
    <PageTitle title={`Articles with tag "${tag}" [${total}]`} />
    <BlogList posts={posts} />
</Main>
