---
export interface Props {
  videoId: string;
  videoTitle?: string;
  loading?: 'eager' | 'lazy';
}

const { videoId, videoTitle, loading = 'lazy' } = Astro.props;
---

<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.4.0/lite-youtube.js"
></script>

<style>
  .youtubeVideo {
    padding-bottom: 2rem;
  }
</style>

<div class="youtubeVideo">
  <lite-youtube videoid={videoId} videotitle={videoTitle} posterloading={loading}>
    <a
      class="lite-youtube-fallback"
      href={`https://www.youtube.com/watch?v=${videoId}`}
      >Watch on YouTube: {videoTitle}</a
    >
  </lite-youtube>
</div>
